<% include ../partials/header %>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>
<div class="text-centered">
    <h4>Select A Page</h4>
</div>
<div class="text-centered">
    <ul class="admin-nav">
        <li><a href="gallery">Gallery</a></li>
        <li><a href="pricegroups">Investment</a></li>
        <li><a href="about">About</a></li>
    </ul>
</div>

<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>            
<% include ../partials/footer %>