<% include ../partials/header %>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>
<h2>Administrator Login</h2>
<div class="half-width text-centered">
    <form method="post" id="contact-form" action="/admin">
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Username</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="text" name="username" placeholder="username" id="username">
            </div>
        </div>
        <div class="vertical-spacer-25"></div>
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Password</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="password" name="password" placeholder="password">   
            </div>
        </div>
        <div class="vertical-spacer-50"></div>
        <button type="submit" id="contact-submit" class="submit-button">Login</button>
    </form>
</div>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>  
<script>
    var input = document.getElementById('username');
    input.focus();
    input.select();
</script>
<% include ../partials/footer %>