<% include ../partials/header %>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>
<h2>Administrator Login</h2>
<div class="half-width text-centered">
    <form method="post" id="contact-form" action="/admin/login">
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Username</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="text"id="userName" name="user[name]" placeholder="Enter Userame">
            </div>
        </div>
        <div class="vertical-spacer-25"></div>
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Password</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="password" id="userPassword" name="user[password]" placeholder="Enter Password">    
            </div>
        </div>
        <div class="vertical-spacer-50"></div>
        <button type="submit" id="contact-submit" class="submit-button">Login</button>
    </form>
</div>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>            
<% include ../partials/footer %>