<% include partials/header %>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>
<div class="row">
    <h2 class="about-header">About</h2>
</div>
<div class="row person-desc">
    <div>
        <p>
            Thanks for stopping by and looking around my site. I really hope that you have enjoyed what you have seen. I can honestly say that creating this site, getting my photos on it, 
            and starting into photography has been one of the most fun things I have done. 
        </p>
        <br>
        <p>
            In case you missed it, I&#39m Devin. I&#39m looking forward to hopefully meeting you at our upcoming photoshoot. (hint hint). I am 28 years old, and have lived in Cache Valley most of my life. 
            What a BEAUTIFUL place!! I have been very blessed in my life in many ways, and one of those blessings is developing a love for Photography. I can&#39t say I have ever done anything that I have loved more than capturing memories 
            &ndash; for myself and others!
        </p>
        <br>
        <p>
            I met my wife, Jordan, while we were both working as CNAs. I will tell you one thing &ndash; it takes a special person to work as a CNA and to love doing it. That my wife. She is an amazing woman, who has an excellent work ethic 
            and a heart of gold. I don&#39t think I have ever met anyone more loving in my life. She will most likely be there at the shoot also, helping me out. You&#39ll love her!
        </p> 
        <br>
        <p>
            Though we have both moved on to other things besides being CNAs, we will always cherish the time that we got to serve those that needed our help. We made some great friends working in the Nursing field, and will always love those 
            we cared for. I am hoping through photography to meet and make new friends (that&#39s you!). So, let&#39s get your photoshoot scheduled and get rolling! Looking forward to meeting you!
        </p> 
    </div>
</div>
<div class="vertical-spacer-50"></div>
<div class="row person-info">
    <div class="col span-2-of-12 headshot-div">
        <img class="headshot" src="/img/about/devinsface.jpg" alt="Devins Face">
    </div>
    <div class="col span-10-of-12">
        <h4>Devin Dockstader</h4>
        <p>Photographer / Editor</p>                
    </div>
</div>
<% include partials/footer %>