<% include partials/header %>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>
<h2>Contact Me</h2>
<div class="half-width text-centered">
    <form method="post" id="contact-form" action="/contact">
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Name</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="text"id="name" name="name" placeholder="Enter Name">
            </div>
        </div>
        <div class="vertical-spacer-25"></div>
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Email</h4>
            </div>
            <div class="col span-2-of-3">
                <input type="email" id="email" name="email" placeholder="Enter email">    
            </div>
        </div>
        <div class="vertical-spacer-25"></div>
        <div class="row">
            <div class="col span-1-of-3">
                <h4>Phone Number</h4>
            </div>
            <div class="col span-2-of-3">
                 <input type="text"  id="phone-number" name="phone" placeholder="(###) ###-####">   
            </div>
        </div>
        <div class="vertical-spacer-50"></div>
        <fieldset>
            <legend>Prefered Method of Contact</legend>
            <div class="row text-left centered-div">
                <div>
                    <label>
                        <input type="radio"name="contactOptions" id="contact-option-1" value="phone-call" checked>
                        Phone Call
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="contactOptions" id="contact-option-2" value="text-message">
                        Text Message
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="contactOptions" id="contact-option-3" value="e-mail">
                        E-Mail
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="vertical-spacer-50"></div>
        <fieldset>
            <legend>Interested In</legend>
            <div class="row text-left centered-div">
                <div>
                    <label>
                        <input type="radio" name="interestedOptions" id="interested-option-1" value="family-pictures" checked>
                        Family Pictures
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="interestedOptions" id="interested-option-2" value="wedding-pictures">
                        Wedding Pictures
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="interestedOptions" id="interested-option-3" value="graduation-pictures">
                        Graduation Pictures
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="interestedOptions" id="interested-option-4" value="photoshoot-pictures">
                        Photoshoot
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="interestedOptions" id="interested-option-5" value="other-pictures">
                        Other
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="vertical-spacer-50"></div>
        <div class="row text-centered">
            <p class="form-item-title">Special Notes/Instructions</p>
            <textarea class="form-control" id="other-comments" name="otherComments" placeholder="Special notes/instructions here..."></textarea>
        </div>
        <div class="vertical-spacer-50"></div>
        <button type="submit" id="contact-submit" class="submit-button">Submit</button>
    </form>
</div>
<div class="vertical-spacer-75"></div>
<div class="vertical-spacer-75"></div>            
<% include partials/footer %>