<% include partials/header %>
<div class="main-slide">
    <% backgrounds.forEach(function(background) { %>
    <div><img src="/img/gallery/<%= background.path %>" alt="<%= background.alt %>"> </div>
    <% }) %>
</div>
<% include partials/footer %>